* {
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  background: #33345F;
  /* background-repeat: no-repeat; */
  width: 100%;
  height: 768px;
  background-size: cover;
}
