<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CHATPY</title>

    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/chat.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>
  </head>
  <body>
    <div class="home">
      <div class="container">
        <div class="chatContainer">
          <div class="chatCards">
            <div class="chatProfile">
              <img src="../static/images/account.png" alt="User Avatar" />
              <p>connected</p>
            </div>

            <form class="form" id="search-form" method="post" action="/search">
              <input
                type="text"
                placeholder="Type glblcd to subscribe..."
                name="query"
                id="query"
              />
            </form>

            <div class="resultCards">
              {% for result in results %}
              <div id="container">
                <div class="Avatar">
                  <img src="/static/images/user .png" />
                </div>
                <div class="user-info">
                  <span id="currentUser">{{ user }}</span>
                  <span>You've subscribed to {{ result }}</span>
                </div>
              </div>
              {% endfor %}
            </div>

            <a href="/disconnect">
              <button type="submit" class="logout">Disconnect</button></a
            >
          </div>

          <div class="chatArea">
            {% for result in results %}
            <div class="chatUser" id="user">{{result}}</div>
            {%endfor%}

            <div class="chatMessaging">
              <div id="Outmessages"></div>

              <!-- <div id="Inmessages"></div> -->
            </div>

            <form id="send_message" action="/update_content" method="post">
              <input
                id="message"
                type="text"
                name="message"
                placeholder="Enter your message..."
              />
              <button type="submit" id="sendBtn">Send</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      $(document).ready(function () {
        var socket = io.connect();

        socket.on("connect", function () {
          socket.emit("test", "User connected!");
        });

        socket.on("message", function (data) {
          var newMessage = $("<p>").text(data);

          var allowedColors = ["green", "#3b3b65"];
          var randomColor =
            allowedColors[Math.floor(Math.random() * allowedColors.length)];

          if (data.includes("@nana")) {
            randomColor = "#4C3B4D";
          } else if (data.includes("@edem")) {
            randomColor = "#60935d";
          }

          newMessage.css({
            backgroundColor: randomColor,
            width: "max-content",
            padding: "8px",
            borderRadius: "10px 10px 0px 10px",
          });

          $("#Outmessages").append(newMessage);
        });

        $("#sendBtn").on("click", function () {
          var userText = document.getElementById("currentUser").textContent;
          socket.emit('message', "@" + userText + ": " + $("#message").val());
          $("#message").val("");
        });
      });
    </script>
  </body>

</html>
