<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/chat.scss">
  <script src="https://kit.fontawesome.com/06f50b721d.js" crossorigin="anonymous"></script>
  <title>Chat Page</title>
</head>
<body>
  <div class="navbar">

  </div>
  <div class="sidebar">
    <div class="profile">
      <div class="prfl">
        <img src="" alt="">
        <span></span>
        <p>Fred Swaniker</p>
      </div>
      <i class="fa-solid fa-ellipsis-vertical"></i>
    </div>
  </div>

  </div>
  <div class="chat-section">
    <div class="name-tag">

    </div>
    <div class="chat-area">

    </div>
    <div class="text-area">

    </div>
  </div>
</body>
</html>
