<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/static/css/signin.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manjari&family=Playfair+Display:wght@700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=.loginC, initial-scale=1.0">
    <title>Document</title>
  </head>
  <body class="login">
    <form action="/authenticate" method="post">
      <div class="loginCont">
        <div class="logtext">
          <h4>ChatPy Login</h4>
          <div class="textAlg">
            <p>Welcome to ChatPy sign in page.</p>
            <span>Lets login</span>
          </div>
        </div>
        <div class="loginDetail">
          <input type="text" value="" placeholder="Username">
          <input type="text" placeholder="Password/Room ID">
          <button type="button">Sign In</button>
        </div>
      </div>
    </form>
  </body>
</html>