<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/static/css/signin.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Manjari&family=Playfair+Display:wght@700&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=.loginC, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body class="login">
    <form method="post" action="/authenticate">
      <div class="loginCont">
        <div class="logtext">
          <h4>chat pi</h4>
          <div class="textAlg">
            <p>Discover & explore new channels</p>
            <span>SignIn into account</span>
          </div>
        </div>
        <div class="loginDetail">
          <input type="text" value="" placeholder="username" name="username" />
          <input
            type="password"
            placeholder="password"
            name="password"
          />
          <button type="submit">Sign In</button>
          <span
          >Dont have an account?
          <a href="/signup">Sign Up</a>
        </span>
        </div>
      </div>
    </form>
  </body>
</html>
