<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CHATPY</title>

    <link rel="stylesheet" href="/static/css/signup.css" />
  </head>
  <body>
    <div class="signupContainer">
      <div class="signupBox">
       
            <form class="form">
                <input
                type="text"
                name="username"
                id="username"
                class="username"
                placeholder="username"
                />

                <input
                type="password"
                name="password"
                id="password"
                class="password"
                placeholder="password"
                
                />

                <input
                type="password"
                name="Confirmpassword"
                id="Confirmpassword"
                class="Confirmpassword"
                placeholder="Confirm password"
                />

                <p>Have an already account? <a>Sign in</a></p>

                <button>Sign Up</button>
            </form>
    
    </div>
  </body>
</html>
