<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/static/css/signup.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Manjari&family=Playfair+Display:wght@700&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=.loginC, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body class="signup">
    <form action="/register" method="post">
      <div class="signupCont">
        <div class="signtext">
          <h4>ChatPy Sign Up</h4>
          <div class="textAlg">
            <p>Welcome to ChatPy sign up page.</p>
            <span>create an account</span>
          </div>
        </div>

        <div class="signupDetail">
          <input
            type="text"
            placeholder="Username"
            class="use"
            name="username"
          />

          <input
            type="password"
            placeholder="password"
            class="pass"
            name="password"
          />

          <input
            type="password"
            placeholder="confirm password"
            class="pass"
            name="confirmPassword"
          />
          <button type="submit" class="btn">Sign Up</button>
          <span
            >Have an account already?
            <a href="/templates/login.html">Sign In</a>
          </span>
        </div>
      </div>
      <img src="./static/images/side.png">
    </form>
  </body>
</html>
