<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=.loginC, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="loginCont">
    <div class="logtext">
      <span>ChatPy Login</span>
      <p>Welcome to ChatPy sign in page.</p>
      <span>Lets login</span>
    </div>
    <div class="loginDetail">
      <input type="text" value="" placeholder="Username">
      <input type="text" placeholder="Password/Room ID">
      <button type="button">Sign In</button>
    </div>
  </div>
</body>
</html>